In [12]:
import numpy as np
import pandas as pd

In [13]:
movies = pd.read_csv('datasets/tmdb_5000_movies.csv')
credits = pd.read_csv('datasets/tmdb_5000_credits.csv')

In [14]:
movies.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [15]:
credits.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [16]:
movies.shape

(4803, 20)

In [17]:
credits.shape

(4803, 4)

In [18]:
mov = movies.merge(credits,on='title')
mov.shape

(4809, 23)

In [19]:
mov.head()

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 23 columns]

In [20]:
# genres
# id
# keywords
# title
# overview
# cast
# crew
# these are the columns we are going to use to build the recommender system

In [21]:
mov = mov[['movie_id','title','genres','overview','keywords','cast','crew']]

In [22]:
mov

      movie_id  ...                                               crew
0        19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1          285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2       206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3        49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4        49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...        ...  ...                                                ...
4804      9367  ...  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4805     72766  ...  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4806    231617  ...  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4807    126186  ...  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4808     25975  ...  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4809 rows x 7 columns]

Now we combine overview, genre, keywords, cast(top 3 casts) and at last crew( only director). Need to do preprocessing

In [23]:
mov.isnull().sum()

movie_id    0
title       0
genres      0
overview    3
keywords    0
cast        0
crew        0
dtype: int64

In [24]:
mov.dropna(inplace=True)

In [25]:
mov.duplicated().sum()

np.int64(0)

In [26]:
mov.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [27]:
import ast
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i["name"])
    return l

In [28]:
mov["genres"]=mov['genres'].apply(convert)

In [29]:
mov.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 7 columns]

In [30]:
mov['keywords'] = mov['keywords'].apply(convert)

In [31]:
mov.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 7 columns]

In [32]:
def convert3(obj):
    l=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=3:
            l.append(i["name"])
            counter+=1
        else:
            break
    return l

In [33]:
mov['cast'] = mov['cast'].apply(convert3)

In [34]:
credits.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [35]:
import ast
def fetch_director(obj):
    k=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            k.append(i['name'])
            break
    return k

In [36]:
credits['crew']=credits['crew'].apply(fetch_director)

In [37]:
mov['crew']  = credits['crew']

In [38]:
mov.head()

   movie_id  ...                 crew
0     19995  ...      [James Cameron]
1       285  ...     [Gore Verbinski]
2    206647  ...         [Sam Mendes]
3     49026  ...  [Christopher Nolan]
4     49529  ...     [Andrew Stanton]

[5 rows x 7 columns]

In [39]:
mov['overview'].apply(lambda x:x.split())

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [40]:
mov['overview'] = mov['overview'].apply(lambda x:x.split())

In [41]:
mov.head()

   movie_id  ...                 crew
0     19995  ...      [James Cameron]
1       285  ...     [Gore Verbinski]
2    206647  ...         [Sam Mendes]
3     49026  ...  [Christopher Nolan]
4     49529  ...     [Andrew Stanton]

[5 rows x 7 columns]

we need to remove all the spaces, "Sam Worthington" -> 'SamWorthington', so this can be a tag as a whole. But if you make it seperate tags, and another guy name also starts with Sam. model will gets confused which Sam's movie to recommend

In [42]:
mov['genres']=mov['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [43]:
mov['keywords']=mov['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [44]:
mov['cast']=mov['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [45]:
mov['crew'].apply(
    lambda x: [i.replace(" ", "") for i in x] if isinstance(x, list) else x
)

0           [JamesCameron]
1          [GoreVerbinski]
2              [SamMendes]
3       [ChristopherNolan]
4          [AndrewStanton]
               ...
4804                   NaN
4805                   NaN
4806                   NaN
4807                   NaN
4808                   NaN
Name: crew, Length: 4806, dtype: object

In [46]:
mov.isnull().sum()

movie_id    0
title       0
genres      0
overview    0
keywords    0
cast        0
crew        6
dtype: int64

In [47]:
mov.dropna(inplace=True)

In [48]:
mov.isnull().sum()

movie_id    0
title       0
genres      0
overview    0
keywords    0
cast        0
crew        0
dtype: int64

In [49]:
mov['cast']=mov['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [50]:
mov['tags'] = mov['overview']+mov['genres']+mov['keywords']+mov['cast']+mov['crew']

In [107]:
mov.head()

   movie_id  ...                                               tags
0     19995  ...  [In, the, 22nd, century,, a, paraplegic, Marin...
1       285  ...  [Captain, Barbossa,, long, believed, to, be, d...
2    206647  ...  [A, cryptic, message, from, Bond’s, past, send...
3     49026  ...  [Following, the, death, of, District, Attorney...
4     49529  ...  [John, Carter, is, a, war-weary,, former, mili...

[5 rows x 8 columns]

In [108]:
new_df = mov[['movie_id','title',"tags"]]

In [109]:
new_df.head()

   movie_id  ...                                               tags
0     19995  ...  [In, the, 22nd, century,, a, paraplegic, Marin...
1       285  ...  [Captain, Barbossa,, long, believed, to, be, d...
2    206647  ...  [A, cryptic, message, from, Bond’s, past, send...
3     49026  ...  [Following, the, death, of, District, Attorney...
4     49529  ...  [John, Carter, is, a, war-weary,, former, mili...

[5 rows x 3 columns]

In [110]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\leoli\AppData\Local\Temp\ipykernel_13092\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [111]:
new_df.head()

   movie_id  ...                                               tags
0     19995  ...  In the 22nd century, a paraplegic Marine is di...
1       285  ...  Captain Barbossa, long believed to be dead, ha...
2    206647  ...  A cryptic message from Bond’s past sends him o...
3     49026  ...  Following the death of District Attorney Harve...
4     49529  ...  John Carter is a war-weary, former military ca...

[5 rows x 3 columns]

In [112]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d JamesCameron James Cameron'

In [113]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\leoli\AppData\Local\Temp\ipykernel_13092\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [114]:
new_df.head()

   movie_id  ...                                               tags
0     19995  ...  in the 22nd century, a paraplegic marine is di...
1       285  ...  captain barbossa, long believed to be dead, ha...
2    206647  ...  a cryptic message from bond’s past sends him o...
3     49026  ...  following the death of district attorney harve...
4     49529  ...  john carter is a war-weary, former military ca...

[5 rows x 3 columns]

In [115]:
%pip install nltk

Requirement already satisfied: nltk in c:\users\leoli\appdata\local\programs\python\python313\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\leoli\appdata\local\programs\python\python313\lib\site-packages (from nltk) (8.2.1)
Requirement already satisfied: joblib in c:\users\leoli\appdata\local\programs\python\python313\lib\site-packages (from nltk) (1.5.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\leoli\appdata\local\programs\python\python313\lib\site-packages (from nltk) (2025.9.1)
Requirement already satisfied: tqdm in c:\users\leoli\appdata\local\programs\python\python313\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\leoli\appdata\local\programs\python\python313\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [116]:
from nltk.stem.porter import PorterStemmer
ps=  PorterStemmer()

In [118]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [119]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\leoli\AppData\Local\Temp\ipykernel_13092\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [120]:
new_df

      movie_id  ...                                               tags
0        19995  ...  in the 22nd century, a parapleg marin is dispa...
1          285  ...  captain barbossa, long believ to be dead, ha c...
2       206647  ...  a cryptic messag from bond’ past send him on a...
3        49026  ...  follow the death of district attorney harvey d...
4        49529  ...  john carter is a war-weary, former militari ca...
...        ...  ...                                                ...
4798     36095  ...  a wave of gruesom murder is sweep tokyo. the o...
4799    182291  ...  isaac and angel are two young latino involv in...
4800    286939  ...  it should have been just a normal day of sex, ...
4801    124606  ...  a young woman in l.a. is have a bad day: she' ...
4802     14337  ...  friends/fledgl entrepreneur invent a devic in ...

[4800 rows x 3 columns]

Now we do text vectorization

In [121]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [122]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [123]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zoo', 'zucker', 'zwick'],
      shape=(5000,), dtype=object)

In [124]:
ps.stem('loving')

'love'

In [126]:
from sklearn.metrics.pairwise import cosine_similarity

In [127]:
cosine_similarity(vectors)

array([[1.        , 0.0836242 , 0.0836242 , ..., 0.        , 0.04169382,
        0.05063697],
       [0.0836242 , 1.        , 0.06060606, ..., 0.        , 0.02266298,
        0.02752409],
       [0.0836242 , 0.06060606, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.05973477,
        0.03627381],
       [0.04169382, 0.02266298, 0.        , ..., 0.05973477, 1.        ,
        0.04116935],
       [0.05063697, 0.02752409, 0.        , ..., 0.03627381, 0.04116935,
        1.        ]], shape=(4800, 4800))

In [129]:
similarity = cosine_similarity(vectors)

In [ ]:
similarity[0] # from the first movie, how much is it similar to other movies

array([1.        , 0.0836242 , 0.0836242 , ..., 0.        , 0.04169382,
       0.05063697], shape=(4800,))

In [139]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])[1:6]

[(1214, np.float64(0.2755193843889919)),
 (3728, np.float64(0.25715142542972574)),
 (539, np.float64(0.254762332682534)),
 (507, np.float64(0.2545139051903111)),
 (582, np.float64(0.24194822861802104))]

In [149]:
def recommend(movie):
    movie_index = new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [150]:
new_df

      movie_id  ...                                               tags
0        19995  ...  in the 22nd century, a parapleg marin is dispa...
1          285  ...  captain barbossa, long believ to be dead, ha c...
2       206647  ...  a cryptic messag from bond’ past send him on a...
3        49026  ...  follow the death of district attorney harvey d...
4        49529  ...  john carter is a war-weary, former militari ca...
...        ...  ...                                                ...
4798     36095  ...  a wave of gruesom murder is sweep tokyo. the o...
4799    182291  ...  isaac and angel are two young latino involv in...
4800    286939  ...  it should have been just a normal day of sex, ...
4801    124606  ...  a young woman in l.a. is have a bad day: she' ...
4802     14337  ...  friends/fledgl entrepreneur invent a devic in ...

[4800 rows x 3 columns]

In [151]:
new_df[new_df['title']=='Batman Begins'].index[0]

np.int64(119)

In [154]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
The Dark Knight Rises
10th & Wolf

In [153]:
new_df.iloc[1214].title

'Aliens vs Predator: Requiem'

# DONE